// theme colors
$red-light: #CB2D6F;
$red-dark: #501F31;
$light-grey: #e2e2e2;
$mid-grey: #4c5d66;
$darkish-grey: #2f3e4c;
$dark-grey: #172b2e;
$green: #14A098;

$back-gradient: linear-gradient(-45deg, #708da3, #60829a, #3a6971, #195862);

$blue1: #03045E;
$blue2: #023E8A;
$blue3: #0077B6;
$blue4: #0096C7;
$blue5: #00B4D8;

$blue-a: #CAF0F8;
$blue-b: #ADE8F4;
$blue-c: #90E0EF;
$blue-d: #48CAE4;